.contact-us{
    width: 50%;
    min-width: 300px;
    margin: 0 auto;
}
.contact-us p{
    padding: 0.3em 0;
}
.contact-us input{
    border-radius: 4px;
    line-height: 1.6em;
    padding: 0 0.2em;
}
.contact-submit{
    position: relative;
    left: 40%;
    width: 100px;
    height: 40px;
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    background: #fd9535;/*背景色*/
    border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    -webkit-box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
            box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
  }
  
  .contact-submitP:active {
    border-bottom: solid 2px #fd9535;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
  }